{% extends "base_admin.html" %}

{% block admincontent %}
{{ckeditor.load()}}
<form method="POST" enctype=multipart/form-data onsubmit="return confirm('Are you sure you want to submit?');">
    <label>Category:</label>
    <select name="category">
        {% for v in validCategories %}
        {% if v == animal["Category"] %}
            <option value="{{v}}" selected>{{v}}</option>
        {% else %}
            <option value="{{v}}">{{v}}</option>
        {% endif %}
        {% endfor %}
    </select>
    <label>Breed:</label>
    <input type="text" name="breed" required minlength="1" value="{{animal['Breed']}}"><br>
    <label>Description:</label>
    {{ckeditor.create(value=animal["Description"])}}
    <label>New Image (leave empty to not change):</label>
    <input type=file name="image">
    <br>
    <input class="button-primary" type="submit" value="Edit">
</form>
{% endblock %}